/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 10px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #E0f6ff);
}

/* PIPE (agora animando com LEFT para bater com offsetLeft no JS) */
.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 65px;
  left: 100%;
  animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation {
  from {
    left: 100%;
  }
  to {
    left: -80px;
  }
}

/* MARIO */
.mario {
  width: 120px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes jump {
  0% { bottom: 0; }
  40% { bottom: 140px; }
  50% { bottom: 150px; }
  60% { bottom: 140px; }
  100% { bottom: 0; }
}

/* CLOUDS */
.clouds {
  position: absolute;
  width: 500px;
  right: -500px;
  animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation {
  from { right: -500px; }
  to { right: 100%; }
}

/* RESTART BUTTON */
.restart {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 14px;
  border: 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  z-index: 10;
}

.hidden {
  display: none;
}
